

<div class="card card-body" style="width:80vw">
	<h3>Add Contact </h3>
	<form action="/contact/new" method="post">
		<div class="form-group">
			
			<label for="title"> Name </label>
			<input type="text" class="form-control" name="name">

			<label for="title"> Phone </label>
			<input type="phone" class="form-control" name="phone">

			<label for="title"> Mail </label>
			<input type="text" class="form-control" name="mail">

			<label for="title"> Info </label>
			<textarea class="form-control" name="info" style="height:50vh"></textarea>

		</div>
		<button type="submit" class="btn btn-primary"> Add </button>
	</form>


</div>