{{#if success_msg}}
	<div class="alert alert-success card-main center"> {{success_msg}}
	</div>
{{/if}}

{{#if error_msg}}
	<div class="alert alert-danger card-main center"> {{error_msg}}
	</div>
{{/if}}
