{{#if success_msg}}
	<div class="alert alert-success" style="width:73vw;"> {{success_msg}}
	</div>
{{/if}}

{{#if error_msg}}
	<div class="alert alert-danger" style="width:73vw;"> {{error_msg}}
	</div>
{{/if}}
