<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
<div id="pdfContainer" style="width:80vw; padding:0" >
	<p id="PDFDir" style="font-size:0;">{{PDFDir}}</p>
  <btn class="btn btn-dark" id="prev" style="position:sticky; width:8vw; top:7.5vh">Previous</btn>
  <btn class="btn btn-dark" id="Document" style="position:sticky; width:10vw; top:7.5vh" onclick="gotoDocument();">Document</btn>
  <btn class="btn btn-dark" id="next" style="position:sticky; width:8vw; top:7.5vh">Next</btn>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
  <canvas id="the-canvas"></canvas>

</div>
<script src="/script/embedPDF.js"> </script>
