
/*
Cappucin color palette that i am using
#47484f ~chocolate
#854442 ~Burnt amber
#fff4e6 ~Desert sand
#3c2f2f ~Bistre
#be9b7b ~Cappucin

Şimdilik ayrı bir paletle denedim :D -Sedat

#eeeeee ~Koyu beyaz
#ffffff ~Acık beyaz
#b8c3bb ~Acık gri
#474f48 ~Koyu gri
#970203 ~Kırmızı
#7e0202 ~Kırmızı(for hover)

http://www.color-hex.com/        Tavsiyemdir:D
https://en.wikipedia.org/wiki/Shades_of_brown


for css tutorials:	
https://www.w3schools.com;
*/



.color1 {background-color:#225424; }
.color2 {background-color:#ddd; }
.color3 {background-color:#fff4e6; }

#mainCanvas{/*TODO*/
<<<<<<< HEAD
	background:#474f48;
=======
	background:#eee;
>>>>>>> a2bbed1ad36987d63df922806ef017629ebac1ac
	display:block;
	margin: 0 auto;
	font-family: sans-serif;
	color:#eeeeee;
}

body{
<<<<<<< HEAD
	background: #474f48;
=======
	background: #333;
>>>>>>> a2bbed1ad36987d63df922806ef017629ebac1ac
	padding:0;
	margin:0;
}


.header{/*This is the container that holds header buttons*/
position:fixed;
width:100vw;
margin:0;
}

.headerTab {/*These are the buttons*/
<<<<<<< HEAD
    background-color:#970203;
    color: #eeeeee;
=======
    color: white;
>>>>>>> a2bbed1ad36987d63df922806ef017629ebac1ac
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
      transition: all 0.5s;
  cursor: pointer;
  opacity: 0.8;		
}

.headerTab:hover {/*Set color when hovered*/
<<<<<<< HEAD
    background-color: #7e0202;
}

.tabcontent {/*The part that is created when buttons are clicked*/
    color: #474f48;
    display: none;
    padding: 10px;
    text-align: center;
=======
    background-color:#690102;
>>>>>>> a2bbed1ad36987d63df922806ef017629ebac1ac

}


<<<<<<< HEAD
#Anasayfa {/*Buttons*/
    background-color:#7e0202;
	color:#eeeeee;
}
#Hakkımızda {/*Buttons*/
    background-color:#7e0202;
	color:#eeeeee;
}
#Kayıt {/*Buttons*/
    background-color:#7e0202;
	color:#eeeeee;
}
#İletişim {/*Buttons*/
    background-color:#7e0202;
	color:#eeeeee;
=======
.headerTab span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.headerTab span:after {
  content: '    ';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.headerTab:hover span {
  padding-right: 25px;
}

.headerTab:hover span:after {
  opacity: 1;
  right: 0;
>>>>>>> a2bbed1ad36987d63df922806ef017629ebac1ac
}


.tabcontent {/*The part that is created when buttons are clicked*/
    color: white;
    width: 100vw;
    display: none;
    padding: 10px;
    text-align: center;
    position:fixed;
    background: linear-gradient(#970203,#790102); 
    

}


.MainPage{
<<<<<<< HEAD
	width: 100%;
	height:100%;
	background: #eeeeee;
}
.ContentContainer{
	padding-left:5vw;
	padding-right:5vw;
	padding-top:2vw;
	padding-bottom: :2vw;
	width: 100vw; 
	height:600px;
	display: table-cell;
	background: #474f48;
=======
	width: 96%;
	height:600px;
	padding:0;
	margin:2%;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	
>>>>>>> a2bbed1ad36987d63df922806ef017629ebac1ac
}

#Baslık{
	font-size: 25px;
	font-family: sans-serif;
	height:600px; 
	text-align:center;
	color:#fff4e6;
	display:table-cell;
}