
/*
Cappucin color palette that i am using
#47484f ~chocolate
#854442 ~Burnt amber
#fff4e6 ~Desert sand
#3c2f2f ~Bistre
#be9b7b ~Cappucin

https://en.wikipedia.org/wiki/Shades_of_brown


for css tutorials:	
https://www.w3schools.com;
*/



#mainCanvas{/*TODO*/
	background:#47484f;
	display:block;
	margin: 0 auto;
	font-family: sans-serif;
	color:white;
}

body{
	background: #47484f;
	padding:0;
	margin:0;
}

.header{/*This is the container that holds header buttons*/
position:fixed;
width:100vw;
}

.headerTab {/*These are the buttons*/
    background-color:	#970203;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
      transition: all 0.5s;
  cursor: pointer;
  opacity: 1;		
}

.headerTab:hover {/*Set color when hovered*/
    background-color:#690102;

}


.headerTab span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.headerTab span:after {
  content: '    ';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.headerTab:hover span {
  padding-right: 25px;
}

.headerTab:hover span:after {
  opacity: 1;
  right: 0;
}

.tabcontent {/*The part that is created when buttons are clicked*/
    color: white;
    width: 100vw;
    display: none;
    padding: 10px;
    text-align: center;
    position:fixed;
    background: linear-gradient(#970203,#790102); 
    

}

.Content{
	width: 100%;
	display: table;
	height:2000px

}

.MainPage{
	width: 100%;
	height:100%;
	background-color: #fff4e6;
	border-radius: 25px;
}
.ContentContainer{
	padding-left:3vw;
	padding-right:3vw;
	padding-top:2vw;
	padding-bottom: :2vw;
	width: 90vw; 
	height:600px;
	display: block;
	background-color: #47484f;
}

#Baslık{
	font-size: 25px;
	font-family: sans-serif;
	height:600px; 
	text-align:center;
	color:#fff4e6;
	display:block;
}