<!DOCTYPE html>
	<html lang="en">
<HEAD>
	<meta charset="UTF-8">
	<title>Birthday</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</HEAD>
	<body>
		{{> _navbar}}
		<div style="height:65px"></div>
		
		<div class="container">
			{{> _msg}}
			{{> _errors}}
		{{{body}}}
		</div>
		
		{{> _bootstrap}}
	</body>
</html>