
body{
  background:#333;
  margin:0;
  padding:0;
  font-family: sans-serif;
  text-align:center;
  color:white;
}

.page-header{
background-color:#528454;
height:300px;
color:white;

}

.form-control{
  width:80%;
  height:40px;
  border-radius:10px;
  border-width: 3px;
  box-shadow:0;

}

.btn{
  background-color:#528454;
  color:white;
  height:50px;
  width:150px;  

}
.form-control{
 display:inline-block;
}

.form-group{
display:inline-block;
}
.form-groupblock{
  padding:10px;
display:inline-block;
}