
<script src="/script/allowtab.js"></script>
<div class="card card-body card-main center">
	<h3> Edit Announcement </h3>
	<form action="/announcement/{{Announcement.id}}?_method=PUT" method="post">
		<div class="form-group">
			<label for="title"> Title </label>
			<input type="text" class="form-control" name="title" value="{{Announcement.Title}}" required>

			<label for="title"> Body </label>
			<textarea id="body" class="form-control" name="desc" style="height:50vh">{{Announcement.Body}}</textarea>

			<tr>
				<td> Always on top?</td>
				<td><input type="checkbox" name="sticky" style="margin-left:5px; margin-top:5px;" value=true {{#if Announcement.Sticky}}checked {{/if}}></td>
			</tr>
		</div>
		<button type="submit" class="btn btn-primary"> Edit </button>
		
	</form>
	<form action="/announcement/{{Announcement.id}}?_method=DELETE" method="post">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" class="btn btn-danger"value="DELETE DIS" style="margin-top:15px">
	</form>

</div>