

<div class="card card-body card-main center">
	<h3> Mass Mailer </h3>
	<form action="/announcement/mail/new" method="post">
		<div class="form-group">
			
			<label for="title"> Title </label>
			<input type="text" class="form-control" name="title"  required>

			<label for="title"> Body </label>
			<textarea class="form-control" name="body" style="height:50vh"></textarea>

		</div>
		<button type="submit" class="btn btn-danger"> Send Mass Mail </button>
	</form>


</div>