

<div class="card card-body">
	<h3> Project Title </h3>
	<form action="/projects/submit" method="post">
		<div class="form-group">
			
			<label for="title"> Title </label>
			<input type="text" class="form-control" name="title"  required>

			<label for="title"> Description </label>
			<textarea class="form-control" name="desc"></textarea>


			<label for="Github link"> Github link </label>
			<input type="text" class="form-control" name="github" required>

			<label for="Date"> Date </label>
			<input type="text" class="form-control" name="date"  required>
		</div>
		<button type="submit" class="btn btn-primary"> Add </button>
	</form>


</div>