
<h2 class="page-header">Register</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Metu ID</label>
    <input type="text" class="form-control" name="username" placeholder="ID">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="username" placeholder="Name">
  </div>
    <div class="form-group">
    <label>Surname</label>
    <input type="text" class="form-control" name="username" placeholder="Surname">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <div style="display:block">
    <div class="form-groupblock">
      <label>What are you interested in?*</label>
      <input type="password" class="form-control" name="password" placeholder="Interests">
    </div>
    <div class="form-groupblock">
      <label>What are you skilled in?*</label>
      <input type="password" class="form-control" name="password" placeholder="Skills">
    </div>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
<div style="bottom:0; left:0; text-align:center; position:fixed; width:100vw">
  <a> *Skills and interests are not required, however, interests will help you find projects. Skills will let people who are seeking to learn that particular skillset find  you.</a>
</div>


