
<link rel="stylesheet" href="/style/register.css">
<h2 class="page-header">Edit Profile</h2>

<div class="card card-body" style="color:#000; width:80vw">

  <form method="post" action="/user/changepassword/{{user.userID}}">
    <div class="form-group">
      <label>Old Password</label>
      <input type="password" class="form-control" name="old">
      
      <label>New Password</label>
      <input type="password" class="form-control" name="new">

      <label>Confirm</label>
      <input type="password" class="form-control" name="confirm">
    </div>   
    <button type="submit" class="btn">Submit</button>
  </form>
</div>



