
<link rel="stylesheet" href="/style/register.css">
<h2 class="page-header">Edit Profile</h2>

<div class="card card-body" style="color:#000; width:80vw">

  <form method="post" action="/user/edit/{{user.userID}}">
    <div class="form-group">
      <label>Skills</label>
      <input type="text" class="form-control" name="Skills" value="{{user.Skills}}">
      
      <label>Interests</label>
      <input type="text" class="form-control" name="Interests" value="{{user.Interests}}">

      <label>Bio</label>
      <input type="text" class="form-control" name="Bio" value="{{user.Bio}}">
    </div>   
    <button type="submit" class="btn">Submit</button>
  </form>
</div>



