
<link rel="stylesheet" href="/style/register.css">
<h2 class="page-header">Send password reset email</h2>
{{#each errors}}
  <div class ="alert alert-danger"> {{text}} </div>
{{else}}

{{/each}}
<div class="card card-body" style="width:80vw">
  <form method="post" action="/user/forgotpwd">
    <div class="form-group">
      <label>Metu ID</label>
      <input type="text" class="form-control" name="ID" placeholder="ID" required>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>


