
<link rel="stylesheet" href="/style/register.css">
<h2 class="page-header">Login</h2>
{{#each errors}}
  <div class ="alert alert-danger"> {{text}} </div>
{{else}}

{{/each}}
<div class="card card-body">
  <form method="post" action="/loginAttempt">
    <div class="form-group">
      <label>Metu ID</label>
      <input type="text" class="form-control" name="ID" placeholder="ID" required>
    </div>
    
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</divz>


