
<link rel="stylesheet" href="/style/register.css">
<h2 class="page-header">Register</h2>

<div class="card card-body card-main center" >
  <div id="logo-container" style="display:flex;justify-content: center;">
    <img src="/Images/logo.png" style="height:128px; width:128px; vertical-align:middle" >
  </div>
  <form method="post" action="/user/register">
    <div class="form-group">
      <label>Metu ID</label>
      <input type="text" class="form-control" name="ID" placeholder="ID" value="{{ID}}" required>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}" required>
    </div>
      <div class="form-group">
      <label>Surname</label>
      <input type="text" class="form-control" name="surname" placeholder="Surname" value="{{surname}}" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="confirm" placeholder="Password" required>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>



