
<link rel="stylesheet" href="/style/register.css">
<h2 class="page-header">Register</h2>

<div class="card card-body" style="color:#000">
  <div id="logo-container" style="display:flex;justify-content: center;">
    <img src="/Images/logo.png" style="height:128px; width:128px; vertical-align:middle" >
  </div>
  <form method="post" action="/user/register">
    <div class="form-group">
      <label>Metu ID</label>
      <input type="text" class="form-control" name="ID" placeholder="ID" required>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name" required>
    </div>
      <div class="form-group">
      <label>Surname</label>
      <input type="text" class="form-control" name="surname" placeholder="Surname" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="confirm" placeholder="Password" required>
    </div>
    <div style="display:block">
      <div class="form-groupblock">
        <label>What are you interested in?*</label>
        <input type="text" class="form-control" name="interests" placeholder="Interests">
      </div>
      <div class="form-groupblock">
        <label>What are you skilled in?*</label>
        <input type="text" class="form-control" name="skills" placeholder="Skills">
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
<div style="bottom:0; left:0; text-align:center; position:fixed; width:100vw">
  <a> *Skills and interests are not required, however, interests will help you find projects. Skills will let people who are seeking to learn that particular skillset find  you.</a>
</div>


