

<div class="card card-body">
	<h3> New Item </h3>
	<form action="/stock/new" method="post">
		<div class="form-group">
			
			<label for="name"> Name* </label>
			<input type="text" class="form-control" name="name"  required>

			<label for="id"> Item id </label>
			<input type="text" class="form-control" name="id" >


			<label for="Quantity"> Quantity* </label>
			<input type="text" class="form-control" name="quantity" required>

			<label for="Category"> Category </label>
			<input type="text" class="form-control" name="category">
		</div>
		<button type="submit" class="btn btn-primary"> Add </button>
	</form>


</div>