

<div class="card card-body" style="width:80vw">
	<h3> New Project </h3>
		<div class="form-group">
			
			<label for="title"> Title </label>
			<input type="text" class="form-control formelem" name="title"  required>

			<label for="title"> Description </label>
			<textarea class="form-control formelem" name="desc"></textarea>

			<label for="pdf link"> PDF link </label>
			<input id="link" type="text formelem" class="form-control" name="pdf" required>

			<label for="Github link"> Github link </label>
			<input type="text" class="form-control formelem" name="github" required>

			<label for="Date"> Date </label>
			<input type="date" class="form-control formelem" name="date"  required>
			<label for="Date"> Documentation </label>
			<input id="sub" type="hidden" class="form-control" name="sub" value="/projects/">
			<input id="action" type="hidden" value="/projects/new">
			{{> _dropbox}}
		</div>
		<button onclick="sendForm();window.location = '/projects/';" class="btn btn-primary"> Add </button>


</div>